body {
  background-color: F7F7F7;
}

.camera-section {
  width: 100%;
  height: 75vh;
  margin-top: 60px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.camera-view {
  height: 100%;
  object-fit: cover;
}

.camera-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-box {
  width: 70vw;
  max-width: 256px;
  aspect-ratio: 1 / 1;
  border: 1px solid #FFCC00;
  position: relative;
}

.overlay-text {
  width: 100%;
  position: absolute;
  bottom: -2em;
  color: #FFCC00;
  font-size: 0.7em;
  text-align: center;
}

.button-section {
  width: 100%;
  height: calc(100vh - 60px - 75vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 90%;
}

.buttons a {
  width: 100%;
  height: 47px;
  padding: 0;
  display: block;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  line-height: 45px;
}

.capture-button {
  margin-bottom: 15px;
  color: #F7F7F7;
  background-color: #007AFF;
}

.manual-button {
  color: #000000;
  background-color: #E5E5EA;
}