nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
  border-bottom: #9A9A9A solid 0.2px;
  z-index: 2;
  transition: ease-in-out 0.3s;
}

nav.clear-up {
  top: -61px;
  transition: ease-in-out 0.3s;
}

nav h1 {
  font-size: 1.1em;
  font-weight: 600;
}

nav a {
  position: absolute;
  background-color: transparent;
  border: none;
  color: #007AFF;
  text-decoration: none;
  top: 0.8em;
  font-size: 1.05em;
  display: flex;
  align-items: center;
}

nav a:hover {
  cursor: pointer;
}

.left-button {
  left: 1.2em;
}

.right-button {
  right: 1.2em;
}

.left-button img, .right-button img {
  height: 1.9em;
}

.left-button img {
  margin-left: -0.7em;
  margin-right: -0.2em;
}

.right-button img {
  margin-right: -0.7em;
  margin-left: -0.2em;
}

nav p {
  display: block;
  height: 1.9em;
  line-height: 2.05em;
}